 <launch>  
  <include file="$(find cerlab_uav)/launch/l515_dual/l515_and_t265.launch"/>

  <!-- Send Odometry -->
  <node pkg="cerlab_uav" type="pub_odom_filter.py" name="send_vio" />

  <!-- <CONFIGURE TF> -->
  <node pkg="tf" type="static_transform_publisher" name="map_odom"
          args="0 0 0 0 0 0 map odom 1000"/>

  <node pkg="tf" type="static_transform_publisher" name="map_odom"
          args="0 0 0 0 0 0 map odom 1000"/>

  <node pkg="tf" type="static_transform_publisher" name="odom_cameraOdom"
      args="0.06 0 0.035 0 0 0 odom t265_odom_frame 1000"/>

  <node pkg="tf" type="static_transform_publisher" name="cameraPose_baseLink"
      args="-0.06 0 -0.035 0 0 0 t265_pose_frame base_link 1000"/>


  <include file="$(find mavros)/launch/px4.launch"/>
 </launch>