 <launch>  
  <include file="$(find cerlab_uav)/launch/l515_dual/l515_and_t265.launch"/>


	<!-- Send Odometry -->
	<node pkg="cerlab_uav" type="send_vio_dual.py" name="send_vio" />

	<!-- <CONFIGURE TF> -->
  <node pkg="tf" type="static_transform_publisher" name="map_odom"
        	args="0 0 0 0 0 0 map odom 1000"/>

  <node pkg="tf" type="static_transform_publisher" name="odom_cameraOdom"
    	args="0.13 0 -0.04 0 0 0 odom t265_odom_frame 1000"/>

  <!-- camera_pose is from t265 -->
  <node pkg="tf" type="static_transform_publisher" name="cameraPose_baseLink"
    	args="-0.10 0 -0.03 0 0 0 l515_link base_link 1000"/>
  
  <!-- <include file="$(find cerlab_uav)/launch/tf/tf_broadcaster.launch"/> -->

  <node pkg="cerlab_uav" type="static_transform_mux" name="mux" />
  <node pkg="cerlab_uav" type="remap_vis_pose.py" name="vis_pose" />

  <include file="$(find mavros)/launch/px4.launch"/>
 </launch>