<?xml version="1.0"?>
<launch>
    <!-- MAVROS posix SITL environment launch script -->
    <!-- launches MAVROS, PX4 SITL, Gazebo environment, and spawns vehicle -->
    <!-- vehicle pose -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <!-- vehicle model and world -->
    <arg name="est" default="ekf2"/>
    <!-- <arg name="vehicle" default="px4vision"/> -->
    <arg name="vehicle" default="iris"/>
    <!-- <arg name="world" default="$(find mavlink_sitl_gazebo)/worlds/empty.world"/> -->
    <arg name="world" default="$(find cerlab_uav)/worlds/dynamic_tree.world"/>
    <arg name="sdf" default="$(find mavlink_sitl_gazebo)/models/$(arg vehicle)/$(arg vehicle).sdf"/>

    <!-- gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>
    <arg name="respawn_gazebo" default="false"/>
    <!-- MAVROS configs -->
    <arg name="fcu_url" default="udp://:14540@localhost:14557"/>
    <arg name="respawn_mavros" default="false"/>
    <!-- PX4 configs -->
    <arg name="interactive" default="true"/>
    <!-- PX4 SITL and Gazebo -->
    <include file="$(find px4)/launch/posix_sitl.launch">
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="z" value="$(arg z)"/>
        <arg name="R" value="$(arg R)"/>
        <arg name="P" value="$(arg P)"/>
        <arg name="Y" value="$(arg Y)"/>
        <arg name="world" value="$(arg world)"/>
        <arg name="vehicle" value="$(arg vehicle)"/>
        <arg name="sdf" value="$(arg sdf)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="interactive" value="$(arg interactive)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="respawn_gazebo" value="$(arg respawn_gazebo)"/>
    </include>
    <!-- MAVROS -->
    <include file="$(find mavros)/launch/px4.launch">
        <!-- GCS link is provided by SITL -->
        <arg name="gcs_url" value=""/>
        <arg name="fcu_url" value="$(arg fcu_url)"/>
        <arg name="respawn_mavros" value="$(arg respawn_mavros)"/>
    </include>

    <node pkg="tf" type="static_transform_publisher" name="map_odom"
            args="0 0 0 0 0 0 map odom 1000"/>


    <node pkg="cerlab_uav" type="transform_broadcast" name="transform_broadcast"/>

    <node pkg="tf" type="static_transform_publisher" name="cameraLink_baseLink"
            args="0 0 0 -1.57 0 -1.57 base_link camera_link 1000"/>

    <node pkg="cerlab_uav" type="field_motion.py" name="motion1" args="'person_walking' '[(1.3, -9.5), (1.3, -6.5)]'" />

    <node pkg="cerlab_uav" type="field_motion.py" name="motion2" args="'person_walking_0' '[(0, 1), (3, 1)]'" />

    <node pkg="cerlab_uav" type="field_motion.py" name="motion3" args="'person_walking_1' '[(-0.5, 13), (-3.5, 9)]'" />

    <node pkg="cerlab_uav" type="field_motion.py" name="motion4" args="'person_walking_2' '[(1, 20), (1, 12)]'" />

    <node pkg="cerlab_uav" type="field_motion.py" name="motion5" args="'person_walking_3' '[(-1.8, -3.4), (-1.8, -6.1)]'" />

    <node pkg="cerlab_uav" type="field_motion.py" name="motion6" args="'person_walking_4' '[(2.68, -4.5), (5.0, -0.55), (3.0, 4.25),(5.0, -0.55)]'" />

    <node pkg="cerlab_uav" type="field_motion.py" name="motion7" args="'person_walking_5' '[(3.15, 9.35), (1.55, 6.00), (-3.25, 4.55), (-5.25, 8.75), (-1.85, 8.00), (1.55, 6.00)]'" />

    <node pkg="cerlab_uav" type="field_motion.py" name="motion8" args="'person_walking_6' '[(-3.75, 2.45), (-6.25, -1.00), (-7.00, -5.25), (-6.25, -9.50), (-3.25, -11.00), (-6.25, -9.50), (-7.00, -5.25), (-6.25, -1.00)]'" />

    <node pkg="cerlab_uav" type="field_motion.py" name="motion9" args="'person_walking_7' '[(-3.9, 12.0), (-7.00, 10.00), (-6.50, 5.25), (-2.60, 2.55), (-6.50, 5.25), (-7.00, 10.00)]'" />

    <node pkg="cerlab_uav" type="field_motion.py" name="motion10" args="'person_walking_8' '[(1.55, -10.8), (-2.30, -11.90), (-0.55, -14.05), (-5.15, -13.20)]'" />

    <node pkg="cerlab_uav" type="field_motion.py" name="motion11" args="'warehouse_robot' '[(2.35, 14.25), (4.25, 10.60)]'" />

    <node pkg="cerlab_uav" type="field_motion.py" name="motion12" args="'warehouse_robot_0' '[(0, 2), (3, 2)]'" />

    <!-- <node pkg="octomap_server" type="octomap_server_node" name="octomap_server"> -->
        <!-- <param name="resolution" value="0.1" /> -->
        
        <!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
        <!-- <param name="frame_id" type="string" value="map" /> -->
        
        <!-- maximum range to integrate (speedup!) -->
        <!-- <param name="sensor_model/max_range" value="5.0" /> -->
        
        <!-- data source to integrate (PointCloud2) -->
    <!-- <remap from="cloud_in" to="/camera/depth/points" /> -->
    
    <!-- </node> -->
</launch>
